@model VolunteerHub.Mvc.Models.HelpType

<h2>Delete Help Type</h2>

<p>Are you sure you want to delete <b>@Model.Name</b>?</p>

<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" name="id" value="@Model.Id" />
    <button type="submit">Delete</button>
    <a asp-action="Index">Cancel</a>
</form>
