<h2>Login (Session)</h2>

@if (ViewBag.Error != null)
{
    <p style="color:red;">@ViewBag.Error</p>
}

<form method="post">
    <label>Your name:</label><br />
    <input name="userName" /><br /><br />
    <button type="submit">Login</button>
</form>
