@model VolunteerHub.Mvc.Models.Volunteer

<div>
    <label>Full name</label><br />
    <input asp-for="FullName" /><br /><br />

    <label>Phone</label><br />
    <input asp-for="Phone" /><br /><br />
</div>
